{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Memory Map Archive{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'memory_map/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{% static 'memory_map/index.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>